#display {
    border: 1px solid black;
    width: 398px;
    height: 100px;
}

#content {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    box-sizing: border-box;
    border: 2px solid black;
    width: 400px;
    height: 300px;
    display: flex;
    gap: 5px;
    padding: 2px;
}

#first, #second, #third, #fourth{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: auto;
}

button {
    flex: auto;
    font-size: 30px;
    border-radius: 10px;
}

p {
    font-size: 45px;
}
