#display {
    border: 1px solid black;
    width: 150px;
    height: 40px;
}

#calculator {
    border: 1px solid black;
    width: 150px;
    height: 120px;
    display: flex;
}

#first, #second, #third, #fourth{
    
    display: flex;
    flex-direction: column;
    flex: auto;
}

.num {
    
    flex: auto;
}